# Complete Draft 2020-12 validation, including RFC 3339 date-time formats.
jsonschema==4.23.0
attrs==24.2.0
jsonschema-specifications==2024.10.1
referencing==0.35.1
rpds-py==0.20.0
rfc3339-validator==0.1.4
six==1.16.0
